#!/usr/bin/make -f

-include debian/vars.mk

build: debian/vars.mk

debian/vars.mk:
	./build.sh

%:
	dh $@

override_dh_auto_configure:
	echo "Extension: $(CRX_NAME) $(CRX_ID) version $(CRX_VERSION)"

override_dh_auto_install:
	echo "tmp/$(CRX_NAME).crx usr/share/chromium/extensions/$(CRX_NAME).crx" > debian/install
	dh_install

override_dh_clean:
	# dh_clean
	# rm -rf $(CURDIR)/debian/tmp
	rm -f debian/install debian/policy.json debian/vars.mk
	# Restore placeholder changelog (if you want the source to be pristine)
	cp debian/changelog.placeholder debian/changelog
	# Optionally, restore debian/control to a dummy template to keep the source tree clean
	# cp debian/control.in debian/control

