#!/usr/bin/make -f


debian/vars.mk:
	debian/gencontrol.sh

-include debian/vars.mk

%:
	dh $@

override_dh_auto_configure:
	echo "Extension: $(CRX_NAME) $(CRX_ID) version $(CRX_VERSION)"

override_dh_gencontrol:
	debian/gencontrol.sh
	dh_gencontrol

override_dh_auto_install:
	echo "tmp/$(CRX_NAME).crx $(EXTENSION_DIR)/$(CRX_NAME).crx" > debian/install
	echo "tmp/$(CRX_NAME).xml $(EXTENSION_DIR)/$(CRX_NAME).xml" >> debian/install
	dh_install

override_dh_clean:
	rm -rf $(CURDIR)/tmp
	rm -f debian/install debian/policy.json debian/vars.mk
	cp -f debian/control.placeholder debian/control
	cp -f debian/changelog.placeholder debian/changelog
	dh_clean

