EXTENSION_PREFIX = {{ extension_prefix }}
EXTENSION_DIR = {{ extension_dir }}
POLICIES_FILE = {{ policies_file }}
CRX_NAME = {{ crx_name }}
CRX_ID = {{ crx_id }}
CRX_VERSION = {{ crx_version }}
MAINTAINER_NAME = {{ maintainer_name }}
MAINTAINER_EMAIL = {{ maintainer_email }}
